.zetEffect{
  background-color: rgb(20, 92, 197);
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  padding: 11rem 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-design{
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  padding: 10rem 6rem;
}